include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md

recursive-include docs *.md
recursive-include .github *.yml *.md

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
global-exclude .pytest_cache
global-exclude .mypy_cache
global-exclude .coverage
